#rowContenido {
    width: 100%;
    height: 100%;

}
#divFormulario {
    padding: 10%;
    width: 100%;
    margin-top: 10%;

}
label{
    font-weight: bolder;

}
#imagen{
    background-image: url("../../imagenes/gestion-proyectos2.png");
    background-position: center; 
    background-repeat: no-repeat; 

}
